[Unit]
Description=Redshift sheduling

[Timer]
Unit=redshift-timestamped.service
#Sheduled times to execute
OnCalendar=*-*-* 07:00:00
OnCalendar=*-*-* 19:00:00
OnCalendar=*-*-* 22:00:00
Persistent=true
AccuracySec=1s


[Install]
WantedBy=timers.target
